* {
	font-family: 'Source Code Pro', monospace;
}
#backbtn {
    border-style: none;
    padding: 10px 20px;
    background: none;
}
#backbtn a{
	color: whitesmoke;
	text-decoration: none;
}
#backbtn a:hover {
	color: rgb(75, 75, 75);
	transition-duration: 0.25s;
}
#signinsubmit, #signupsubmit{
    color: rgb(75, 75, 75);
    background-color: #05baba;
}
#signinsubmit:hover, #signupsubmit:hover{
    color: whitesmoke;
    background-color: #039c9c;
}
#accountalt {
	color: whitesmoke;
}
#accountalt:hover {
	color: rgb(75, 75, 75);
}