
.ach-condition, .ach-title {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1.35em;
}
.ach-icon {
    height: 150px;
    width: 150px;
}
.ach-icon-locked {
    height: 150px;
    width: 150px;
    filter: grayscale(90%);
}