body {
    margin: 0;
    color: black;
}

#time {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.song-button {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.song-button button {
    width: 60%;
    border-radius: 20px;
    border: solid 2px black;
    padding: 30px 50px;
    margin: auto;
    transition: all 200ms ease-out;
}

.song-button button:hover {
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

.correct {
    background-color: green;

}

.wrong {
    background-color: red;
}

#startbtn {
    width: 400px;
    height: 400px;
    background-color: yellow;
}
#startbtn:hover {
    cursor: pointer;
    scale: 1.5;

    
}

.highlight {
    background-color: black;
    
}

#footer {
    background-color: rgba(88, 88, 88, 0.2);
}
#navBarAcc {
    font-size: 1.05em;
}
#navBarAcc:hover {
    color:rgb(3, 58, 135); /* remember to change */
    transition-duration: 0.25s;
}


#loadingscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;

}

#endscreen {
    padding: 10px;
    margin: auto;
    background-color: grey;
    width: 100px;
    height: 200px;
    
}
