@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); 



* {
    color: whitesmoke;
}
.btn {
    border-style: none;
}
html {
    min-height: 100%;
}
body {
    background-color:#44195e;
    background-image: linear-gradient(0deg, #44195e, #07002d);
    background-size: cover;
    background-position: center;
    margin: 0;
    overflow-x: hidden;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 25px;
    border: 1px solid rgb(200, 200, 200);
}
.navbar-brand {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    color: whitesmoke;
}
.navbar-brand:hover {
    animation: shiftcolor 2s;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
.navitem {
    font-family: 'DotGothic16', sans-serif;
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .15s;
}
.navitem:hover {
    transform: scale(1.08);
    color: white;
    transition-duration: 0.15s;
}
.footer {
    border-top: 1px solid rgba(100, 100, 100, 0.25);
    color: whitesmoke;
}

.popupdisplayfb {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
}
.popupfb {
    margin: 70px auto;
    padding: 20px;
    background-color: rgb(48, 18, 74);
    border-radius: 5px;
    width: 30%;
    position: relative;

    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
}
.popupfb .content {
    max-height: 30%;
    overflow: auto;
}
#popupmessage {
    color: rgb(169, 169, 169);
    text-align: left;
}
.popupfb .close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.footerlinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    
}
.footerlinks a {
    text-decoration: none;
    color: #b18ac9
}

.footerlinks a:hover {
    text-decoration: underline;
}
@keyframes shiftcolor {
    0% {color: crimson;}
    20% {color: orange;}
    40% {color: goldenrod;}
    60% {color: green;}
    80% {color: DarkBlue;}
    100% {color: purple ;}
}

@media screen and (max-width: 950px){
    .footer {
        font-size: 0.5em;
    }
}