body {
    margin: 0;
}

#time {
    font-size: 100px;
    
}

.song-button {
    display: flex;
    flex-direction: column;
}
.song-button button {
    border-radius: 20px;
    border: solid 2px black;
    padding: 50px 50px;
    margin: 5px;
    transition: all 200ms ease-out;
}

.song-button button:hover {
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

.correct {
    background-color: green;

}

.wrong {
    background-color: red;
}

#startbtn {
    width: 400px;
    height: 400px;
    background-color: yellow;
}
#startbtn:hover {
    cursor: pointer;
    scale: 1.5;

    
}

.highlight {
    background-color: black;
    
}

footer {
    background-color: rgb(3, 58, 135);
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#navBarAcc {
    font-size: 1.05em;
}
#navBarAcc:hover {
    color:rgb(3, 58, 135); /* remember to change */
    transition-duration: 0.25s;
}

