#time {
    font-size: 100px;
    
}

.song-button {
    display: flex;
    flex-direction: column;
}
.song-button button {
    padding: 50px 50px;
    margin: 5px;
}

.correct {
    background-color: green;

}

.wrong {
    background-color: red;
}

#startbtn {
    width: 400px;
    height: 400px;
    background-color: yellow;
}
#startbtn:hover {
    cursor: pointer;
    scale: 1.5;

    
}